@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.hero-bg {
  background: rgb(33, 49, 16);
  background: linear-gradient(45deg, #213110 0%, #59852c 100%);
}
