@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

.hero-bg {
  background: rgb(33, 49, 16);
  background: linear-gradient(45deg, rgba(33, 49, 16, 1) 0%, rgba(110, 164, 54, 1) 100%);
}
